/* You can add global styles to this file, and also import other style files */
@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";

@import './styles/reset.css';

/*------- home and about cover image ------*/

.top-img-container {
    height: 90vh;
    position: relative;
}

.top-img-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/*------------------ Book catalog --------*/

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    width: 18%;
    padding: 20px 0px;
    border: unset;
}

.cards .card a {
    text-decoration: none;
}

.cards .card .image {
    width: 100%;
    height: 35vh;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 2px 2px 8px;
}

.cards .card .image img {
    width: 100%;
    height: 100%;
}

.cards .card .image .badge {
    position: absolute;
    top: -5px;
    right: -10px;
    border: 2px dashed green;
    background-color: pink;
    color: black;
    padding: 10px;
    rotate: 18deg;
    font-size: 14px;
}

.cards .card .info span {
    display: block;
    color: black;
}

.cards .card .info span:first-of-type {
    font-size: 18px;
    font-weight: bold;
}

.cards .card .info span i {
    padding: 0px 10px;
    font-size: 20px;
    color: green;
}

@media(max-width: 1100px) {
    .catalog-container {
        padding: 50px 150px;
    }

    .cards .card {
        width: 23%;
    }
}

@media(max-width: 920px) {
    .catalog-container {
        padding: 50px 100px;
    }

    .cards .card {
        width: 32%;
    }
}

@media(max-width: 680px) {
    .cards .card {
        width: 42%;
    }
}

@media(max-width: 530px) {
    .catalog-container {
        padding: 50px 50px;
    }
}

@media(max-width: 420px) {
    .catalog-container {
        padding: 50px 100px;
    }

    .cards .card {
        width: 100%;
    }
}

/*--------- login and register form ---------*/

.form {
    padding: 50px;
}

.form span:first-of-type {
    font-size: 36px;
    font-weight: bolder;
    text-shadow: gray 6px 6px 3px;
}

.form .users-form {
    margin-top: 20px;
}

.form label {
    font-size: 20px;
}

.form input {
    width: 100%;
}

.form input:last-of-type {
    margin-top: 20px;
    width: 20%;
    cursor: pointer;
    box-shadow: 4px 4px 8px 0px;
    margin-bottom: 40px;
}

.form input:last-of-type:hover {
    box-shadow: unset;
}

.form span:last-of-type a {
    color: green;
    font-weight: bold;
}

.form span:last-of-type a:hover {
    text-decoration: none;
}

@media(max-width: 1020px) {
    .form input:last-of-type {
        min-width: 65px;
    }
}

/*----------- Errors ------------------*/

input.ng-invalid.ng-touched {
    border: 2px solid red;
}

.error-message {
    margin-top: 20px;
    color: red;
}

.request-errors-container {
    position: fixed;
    top: 85px;
    right: 50px;
    width: 30%;
    background-color: rgba(240, 111, 111, 0.6);
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    border-radius: 15px;
    border: 1px solid red;
    padding: 10px 10px;
}

@media(max-width: 580px) {
    .request-errors-container {
        top: 170px;
    }
}