/* You can add global styles to this file, and also import other style files */
@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";

@import './styles/reset.css';

/*------- home and about cover image ------*/

.top-img-container {
    height: 87vh;
    position: relative;
}

.top-img-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/*--------- login and register form ---------*/

.form {
    padding: 50px;
}

.form span:first-of-type {
    font-size: 36px;
    font-weight: bolder;
    text-shadow: gray 6px 6px 3px;
}

.form .users-form {
    margin-top: 20px;
}

.form label {
    font-size: 20px;
}

.form input {
    width: 100%;
}

.form input:last-of-type {
    margin-top: 20px;
    width: 20%;
    cursor: pointer;
    box-shadow: 4px 4px 8px 0px;
    margin-bottom: 40px;
}

.form input:last-of-type:hover {
    box-shadow: unset;
}

.form span:last-of-type a {
    color: green;
    font-weight: bold;
}

.form span:last-of-type a:hover {
    text-decoration: none;
}

@media(max-width: 1020px) {
    .form input:last-of-type {
        min-width: 60px;
    }
}

/*----------- Errors ------------------*/

input.ng-invalid.ng-touched {
    border: 2px solid red;
}

.error-message {
    margin-top: 20px;
    color: red;
}

.request-errors-container {
    position: fixed;
    top: 85px;
    right: 50px;
    width: 30%;
    background-color: rgba(240, 111, 111, 0.6);
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    border-radius: 15px;
    border: 1px solid red;
    padding: 10px 10px;
}