.details-page-container {
    padding: 70px 300px;
    position: relative;
    min-height: 90vh;
}

.details-page-container .main-info {
    display: flex;
    padding-bottom: 30px;
}

.details-page-container .main-info .background-image {
    margin-right: 30px;
    width: 300px;
    height: 300px;
    box-shadow: 2px 2px 8px;
}

.details-page-container .main-info .background-image img {
    width: 100%;
    height: 100%;
}

.details-page-container .main-info .left-side span {
    display: block;
}

.details-page-container .main-info .left-side h3 {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.details-page-container .main-info .left-side span:last-of-type i {
    padding: 0px 10px;
    font-size: 20px;
    color: green;
}

.rating {
    margin-bottom: 30px;
}

.details-page-container .buttons {
    margin-bottom: 20px;
    margin-left: 500px;
}

.details-page-container .buttons button {
    width: 70px;
    color: green;
    font-weight: bolder;
    box-shadow: 4px 4px 8px 0px gray;
    margin-right: 20px;
    transition: all 0.7s ease;
}

.details-page-container .buttons button:hover {
    cursor: pointer;
    box-shadow: unset;
}

.details-page-container .description {
    font-size: 24px;
    font-weight: bolder;
}

.details-page-container hr {
    margin-bottom: 20px;
    color: green;
}

.content {
    overflow-wrap: break-word;
    white-space: pre-line;
    white-space: pre-wrap;
}

.delete-confirmation-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(122, 120, 120, 0.6);
}

.middle-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast-message {
    position: fixed;
    top: 128px;
    right: 80px;
    background-color: rgba(144, 238, 144, 0.559);
    backdrop-filter: blur(3px);
    text-shadow: 1px 1px 2px white;
    border: 3px solid green;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    animation-name: showToastModal;
    animation-duration: 1s;
}

.delete-confirmation {
    position: absolute;
    padding: 16px;
    background-color: rgba(240, 111, 111, 0.7);
    backdrop-filter: blur(2px);
    border: 4px solid red;
    border-radius: 15px;
    box-shadow: 0px 0px 18px 8px white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacityShow 1s forwards;
}

.delete-confirmation>div {
    padding: 10px;
}

.delete-confirmation p {
    font-size: 24px;
    text-shadow: 1px 1px 0px white;
}

.delete-confirmation .cancel {
    margin: 10px;
    border-radius: 12px;
    padding: 5px 10px;
    transition: all 1s ease;
}

.delete-confirmation .cancel:hover {
    box-shadow: 0px 0px 18px white;
}

.delete-confirmation .delete {
    margin: 10px;
    border-radius: 12px;
    padding: 5px 10px;
    color: red;
    transition: all 1s ease;
}

.delete-confirmation .delete:hover {
    box-shadow: 0px 0px 18px white;
}

@keyframes opacityShow {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes showToastModal {
    0% {
        opacity: 0;
        /* transition: opacity 0.5s, transform 0.5s; */
    }

    100% {
        opacity: 1;
        /* transition: opacity 0.5s, transform 0.5s; */
    }
}

@media(max-width: 1370px) {
    .details-page-container {
        padding: 70px 250px;
    }
}

@media(max-width: 1270px) {
    .details-page-container {
        padding: 70px 200px;
    }
}

@media(max-width: 1170px) {
    .details-page-container {
        padding: 70px 150px;
    }
}

@media(max-width: 1070px) {
    .details-page-container .buttons {
        margin-left: 400px;
    }

    .toast-message {
        top: 112px;
        right: 32px;
    }
}

@media(max-width: 970px) {
    .details-page-container {
        padding: 70px 100px;
    }

    .details-page-container .main-info .background-image {
        width: 250px;
        height: 250px;
    }
}

@media(max-width: 870px) {
    .details-page-container .buttons {
        margin-left: 300px;
    }
}

@media(max-width: 770px) {
    .details-page-container .buttons {
        margin-left: 200px;
    }
}

@media(max-width: 670px) {
    .details-page-container {
        padding: 50px 50px;
    }

    .details-page-container .main-info .background-image {
        width: 200px;
        height: 250px;
    }

    .details-page-container .buttons {
        margin-left: 100px;
    }

    .toast-message {
        top: 176px;
    }
}

@media(max-width: 470px) {
    .details-page-container .main-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .details-page-container .main-info .left-side h3 {
        margin-bottom: unset;
    }

    .details-page-container .buttons {
        margin-left: unset;
    }
}