.details-page-container {
    padding: 70px 300px;
    position: relative;
}

.details-page-container .main-info {
    display: flex;
    padding-bottom: 30px;
}

.details-page-container .main-info .background-image {
    margin-right: 30px;
    width: 300px;
    height: 300px;
}

.details-page-container .main-info .background-image img {
    width: 100%;
    height: 100%;
}

.details-page-container .main-info .left-side span {
    display: block;
}

.details-page-container .main-info .left-side h3 {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.details-page-container .main-info .left-side span:last-of-type i {
    padding: 0px 10px;
    font-size: 20px;
    color: green;
}

.details-page-container .buttons {
    margin-bottom: 20px;
    margin-left: 500px;
}

.details-page-container .buttons button {
    width: 70px;
    color: green;
    font-weight: bolder;
    box-shadow: 4px 4px 8px 0px gray;
    margin-right: 20px;
}

.details-page-container .buttons button:hover {
    cursor: pointer;
    box-shadow: unset;
}

.details-page-container .description {
    font-size: 24px;
    font-weight: bolder;
}

.details-page-container hr {
    margin-bottom: 20px;
    color: green;
}

.content {
    overflow-wrap: break-word;
    white-space: pre-line;
    white-space: pre-wrap;
}

.delete-confirmation-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(122, 120, 120, 0.6);
}

.middle-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-confirmation {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgba(240, 111, 111, 0.7);
    border: 4px solid red;
    border-radius: 15px;
    box-shadow: 0px 0px 18px 8px white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-confirmation>div {
    padding: 10px;
}

.delete-confirmation p {
    font-size: 24px;
    text-shadow: 1px 1px 0px white;
}

.delete-confirmation .cancel {
    margin: 10px;
    border-radius: 12px;
    padding: 5px 10px;
}

.delete-confirmation .cancel:hover {
    box-shadow: 0px 0px 18px white;
}

.delete-confirmation .delete {
    margin: 10px;
    border-radius: 12px;
    padding: 5px 10px;
    color: red;
}

.delete-confirmation .delete:hover {
    box-shadow: 0px 0px 18px white;
}

@media(max-width: 1370px) {
    .details-page-container {
        padding: 70px 250px;
    }
}

@media(max-width: 1270px) {
    .details-page-container {
        padding: 70px 200px;
    }
}

@media(max-width: 1170px) {
    .details-page-container {
        padding: 70px 150px;
    }
}

@media(max-width: 1070px) {
    .details-page-container .buttons {
        margin-left: 400px;
    }
}

@media(max-width: 970px) {
    .details-page-container {
        padding: 70px 100px;
    }

    .details-page-container .main-info .background-image {
        width: 250px;
        height: 250px;
    }
}

@media(max-width: 870px) {
    .details-page-container .buttons {
        margin-left: 300px;
    }
}

@media(max-width: 770px) {
    .details-page-container .buttons {
        margin-left: 200px;
    }
}

@media(max-width: 670px) {
    .details-page-container {
        padding: 50px 50px;
    }

    .details-page-container .main-info .background-image {
        width: 200px;
        height: 250px;
    }

    .details-page-container .buttons {
        margin-left: 100px;
    }
}

@media(max-width: 600px) {
    .delete-confirmation {
        width: 75%;
    }
}

@media(max-width: 470px) {
    .details-page-container .main-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .details-page-container .main-info .left-side h3 {
        margin-bottom: unset;
    }

    .details-page-container .buttons {
        margin-left: unset;
    }
}