<div *ngIf="book" class="details-page-container">
    <div class="main-info">
        <div class="background-image">
            <img src="{{book.imageUrl}}" alt="{{book.bookName}} by {{book.author}}">
        </div>
        <div class="left-side">
            <h3>{{book.bookName}}</h3>
            <span>by {{book.author}}</span>
            <span>with {{book.cover}}</span>
            <span>Price: <strong>{{book.price}} lv.</strong><i class="fas fa-hand-point-left"></i><s>{{book.coverPrice}} lv.</s></span>
        </div>
    </div>
    <div class="buttons">
        <button *ngIf="!isOwner">Buy</button>
        <ng-container *ngIf="isOwner">
            <button (click)="onEditClick()">Edit</button>
            <button (click)="onDeleteClick()">Delete</button>
        </ng-container>
    </div>
    <span class="description">Description</span>
    <hr>
    <p>&emsp;{{book.description}}</p>
</div>