<div class="register-container">
    <div class="image">
        <img src="../../../assets/images/register-photo.avif" alt="library">
    </div>
    <div class="form">
        <span>Sign up</span>
        <form action="" class="users-form">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="john@gmail.com">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="John Doe">
            <label for="password">Password</label>
            <input type="text" name="password" placeholder="*******">
            <label for="repeatPassword">Confirm password</label>
            <input type="text" name="repeatPassword" placeholder="*******">

            <input type="submit" value="Sign up">
        </form>
        <span>Already have an account? <a routerLink="/users/login">Login</a></span>
    </div>
</div>