<div *ngIf="!globalLoaderService.isLoading" class="user-profile-container">
    <div class="user">
        <div class="photo">
            <div class="icon">
                <i class="far fa-user"></i>
            </div>
        </div>
        <div class="user-info">
            <span>Username: <b>{{ user?.username }}</b></span>
            <span>Email: <b>{{ user?.email }}</b></span>
        </div>
    </div>

    <p>My books for sale</p>
    <div class="for-sale">
        <div *ngIf="isBooksForSale" class="cards">
            <div *ngFor="let book of bookForSale" class="card">
                <a [routerLink]="['/books/catalog/', book.objectId, 'details']">
                    <div class="image">
                        <img src="{{ book?.imageUrl }}" alt="{{ book?.bookName }} by {{ book?.author }}">
                    </div>
                    <div class="info">
                        <span>{{ book?.bookName }}</span>
                        <span>by {{ book?.author }}</span>
                        <span>with {{ book?.cover }}</span>
                    </div>
                </a>
            </div>
        </div>

        <div *ngIf="!isBooksForSale" class="empty">
            <p>Still not added books here!</p>
        </div>
    </div>

    <hr>

    <p>My purchases</p>
    <div class="purchases">
        <div *ngIf="isBoughtBooks" class="cards">
            <div *ngFor="let book of boughtBooks" class="card">
                <a [routerLink]="['/books/catalog/', book.objectId, 'details']">
                    <div class="image">
                        <img src="{{ book?.imageUrl }}" alt="{{ book?.bookName }} by {{ book?.author }}">
                    </div>
                    <div class="info">
                        <span>{{ book?.bookName }}</span>
                        <span>by {{ book?.author }}</span>
                        <span>with {{ book?.cover }}</span>
                    </div>
                </a>
            </div>
        </div>

        <div *ngIf="!isBoughtBooks" class="empty">
            <p>Still not added books here!</p>
        </div>
    </div>
</div>
