<div class="sell-book-container">
    <div class="background">
        <div class="image-background">
            <img src="../../../assets/images/sell-book-liverpool-photo.avif" alt="book shop">
        </div>
        <div class="overlay"></div>
        <form>
            <label for="bookName">Book name</label>
            <input type="text" name="bookName" placeholder="Don Quixote">
            <label for="imageUrl">Image url</label>
            <input type="text" name="imageUrl" placeholder="https://...">
            <label for="author">Author</label>
            <input type="text" name="author" placeholder="Miguel de Cervantes">
            <label for="cover">Cover</label>
            <input type="text" name="cover" placeholder="Hardcover">
            <label for="coverPrice">Cover Price</label>
            <input type="text" name="coverPrice" placeholder="32.00 lv.">
            <label for="offer">Offer</label>
            <input type="text" name="offer" placeholder="23.50 lv.">
            <hr>
            <input type="submit" value="Sell book">
        </form>
    </div>
    <div class="left-image">
        <img src="../../../assets/images/sell-book-photo.avif" alt="street photo">
    </div>
    <div class="right-image">
        <img src="../../../assets/images/sell-book-inside.avif" alt="book shop">
    </div>
</div>