.about {
    position: absolute;
    top: 60px;
    left: 100px;
    width: 70%;
    height: 70%;
    background-color: rgba(154, 205, 50, 0.7);
    padding: 50px;
    color: #fff;
}

.about h2 {
    text-align: center;
}

.about p {
    font-style: italic;
}