<div *ngIf="!globalLoaderService.isLoading" class="catalog-container">
    <h3>Used Books</h3>
    <hr>
    <div class="cards">
        <a *ngFor="let book of booksList" href="">
            <div class="card">
                <div class="image">
                    <img src="{{book.imageUrl}}" alt="{{book.bookName}} by {{book.author}}">
                </div>
                <span>{{book.bookName}}</span>
                <span>by {{book.author}}</span>
                <span>with {{book.cover}}</span>
                <span><strong>{{book.price}} lv.</strong> <s>{{book.coverPrice}} lv.</s></span>
            </div>
        </a>
    </div>
</div>