<div *ngIf="!globalLoaderService.isLoading" class="catalog-container">
    <div class="title-and-search">
        <h3>Catalog</h3>
        <div class="search">
            <form #searchForm="ngForm" (ngSubmit)="searchSubmitHandler(searchForm)">
                <input type="text" name="search" placeholder="Search..." ngModel #searchInput="ngModel"><i (click)="searchSubmitHandler(searchForm)" class="fas fa-search"></i>
            </form>
        </div>
    </div>
    <hr>
    <div class="cards">
        <div class="card" *ngFor="let book of booksList">
            <a [routerLink]="['/books/catalog/', book.objectId, 'details']">
                <div class="image">
                    <img src="{{book.imageUrl}}" alt="{{book.bookName}} by {{book.author}}">
                    <div *ngIf="book.used" class="badge">
                        <span>Used</span>
                    </div>
                </div>
                <div class="info">
                    <span>{{book.bookName}}</span>
                    <span>by {{book.author}}</span>
                    <span>with {{book.cover}}</span>
                    <span><strong>{{book.price}} lv.</strong><i *ngIf="book.coverPrice" class="fas fa-hand-point-left"></i><s *ngIf="book.coverPrice">{{book.coverPrice}} lv.</s></span>
                </div>
            </a>
        </div>
        <div *ngIf="isEmptyBookList" class="empty-book-list">
            <p><i class="far fa-frown"></i>&emsp;Not found results!</p>
        </div>
    </div>
</div>