<div *ngIf="!globalLoaderService.isLoading" class="catalog-container">
    <h3>Catalog</h3>
    <hr>
    <div class="cards">
        <div class="card" *ngFor="let book of booksList">
            <a [routerLink]="['/books/catalog/', book.objectId, 'details']">
                <div class="image">
                    <img src="{{book.imageUrl}}" alt="{{book.bookName}} by {{book.author}}">
                    <div *ngIf="book.used" class="badge">
                        <span>Used</span>
                    </div>
                </div>
                <div class="info">
                    <span>{{book.bookName}}</span>
                    <span>by {{book.author}}</span>
                    <span>with {{book.cover}}</span>
                    <span><strong>{{book.price}} lv.</strong><i *ngIf="book.coverPrice" class="fas fa-hand-point-left"></i><s *ngIf="book.coverPrice">{{book.coverPrice}} lv.</s></span>
                </div>
            </a>
        </div>
    </div>
</div>