.top-img-container {
    height: 80vh;
    position: relative;
}

.top-img-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.top-img-container .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

.top-img-container .title {
    position: absolute;
    top: 100px;
    left: 200px;
    color: #fff;
}

.top-img-container .title h1 {
    font-size: 36px;
}