.top-img-container {
    height: unset;
}

.carousel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}


.top-img-container .title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 100px;
}

.top-img-container .title div {
    background-color: #6f6c6c91;
    backdrop-filter: blur(2px);
    padding: 10px 15px;
    border-radius: 30px;
    border-left: 1px solid;
    border-bottom: 1px solid;
    box-shadow: 2px 2px 10px black;
    text-align: center;
}

.top-img-container .title div h1 {
    font-size: 38px;
    text-shadow: 2px 2px 2px black;
}

.top-img-container .title div h2 {
    font-size: 26px;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
}

.middle {
    padding: 100px 200px;
}

.middle h3 {
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
}

.middle p {
    font-style: italic;
}

.middle p:last-of-type {
    text-align: end;
    margin-top: 10px;
    font-weight: bolder;
}

.down-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 0px 50px 50px 50px;
}

.down-img img {
    box-shadow: 0px 0px 8px black;
    border-radius: 8px;
}

.quote-container {
    position: absolute;
    padding: 0px 200px 160px 0px;
}

.top-img-container .quote {
    background-color: rgb(154, 205, 50, 0.7);
    rotate: -10deg;
    padding: 15px;
    border-radius: 8px;
    border-right: 4px solid yellow;
    border-bottom: 2px solid green;
    text-shadow: 1px -1px 0px white;
    font-style: oblique;
    font-size: 20px;
}

.top-img-container .quote span {
    display: block;
    text-align: end;
}

.five-random-title {
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    padding: 50px 0px;
}

.five-random {
    padding: 0px 200px;
    margin-bottom: 100px;
}

@media(max-width: 1100px) {
    .five-random .cards .card {
        width: 26%;
    }
}

@media(max-width: 1080px) {
    .five-random {
        padding: 0px 150px;
    }
}

@media(max-width: 930px) {
    .top-img-container .title div h1 {
        font-size: 30px;
    }
    
    .top-img-container .title div h2 {
        font-size: 20px;
    }

    .middle {
        padding: 100px 150px;
    }
}

@media(max-width: 850px) {
    .carousel-wrapper {
        height: 70%;
    }
    
    .top-img-container .quote {
        font-size: 16px;
    }

    .five-random {
        padding: 0px 100px;
    }
}

@media(max-width: 650px) {
    .top-img-container .title div h1 {
        font-size: 26px;
    }
    
    .top-img-container .title div h2 {
        font-size: 18px;
    }

    .middle {
        padding: 100px 100px;
    }

    .middle h3 {
        font-size: 20px;
    }

    .five-random .cards .card {
        width: 40%;
    }
}

@media(max-width: 520px) {
    .middle h3 {
        font-size: 18px;
        font-weight: bold;
        padding: 0px 10px;
    }
}

@media(max-width: 480px) {
    .top-img-container .title {
        justify-content: unset;
        top: 50px;
        padding: 0 20px;
    }

    .top-img-container .title div h1 {
        font-size: 22px;
    }
    
    .top-img-container .title div h2 {
        font-size: 16px;
    }

    .middle {
        padding: 100px 50px;
    }

    .middle h3 {
        font-size: 16px;
    }

    .five-random {
        padding: 0px 50px;
    }
}

@media (max-height: 420px) and (orientation: landscape) {
    .top-img-container .title {
        justify-content: center;
        top: 0;
    }

    .top-img-container .title div h1 {
        font-size: 22px;
    }
    
    .top-img-container .title div h2 {
        font-size: 16px;
    }
}

@media(max-width: 430px) {
    .five-random {
        padding: 0px 100px;
    }

    .five-random .cards .card {
        width: 100%;
    }
}

@media(max-width: 400px) {
    .top-img-container .title {
        top: 40px;
    }
}