.top-img-container img {
    width: 100%;
    height: 100%;
    object-fit: none;
}

.top-img-container .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(92, 128, 38, 0.1);
}

.top-img-container .title {
    position: absolute;
    top: 100px;
    left: 200px;
    color: #fff;
}

.top-img-container .title h1 {
    font-size: 66px;
    text-shadow: 20px 12px 4px black;
}

.top-img-container .title h2 {
    font-size: 46px;
    font-style: italic;
    text-shadow: 20px 12px 4px black;
}

.top-img-container .quote {
    display: inline-block;
    position: absolute;
    left: 240px;
    bottom: 240px;
    background-color: rgb(154, 205, 50, 0.7);
    rotate: -10deg;
    padding: 15px;
    border-radius: 8px;
    font-style: oblique;
    font-size: 20px;
}

.top-img-container .quote span {
    display: block;
    text-align: end;
}

@media(max-width: 1650px) {
    .top-img-container .quote {
        left: 180px;
        bottom: 140px;
    }

    .top-img-container .title h1 {
        font-size: 60px;
    }

    .top-img-container .title h2 {
        font-size: 40px;
    }
}

@media(max-width: 1470px) {
    .top-img-container .quote {
        left: 120px;
        bottom: 140px;
    }

    .top-img-container .title h1 {
        font-size: 50px;
    }

    .top-img-container .title h2 {
        font-size: 30px;
    }
}

@media(max-width: 1300px) {
    .top-img-container .quote {
        left: 40px;
        font-size: 18px;
    }

    .top-img-container .title h1 {
        font-size: 44px;
    }
}

@media(max-width: 1080px) {
    .top-img-container .title {
        top: 80px;
        left: 100px;
    }

    .top-img-container .title h1 {
        font-size: 40px;
    }

    .top-img-container .title h2 {
        font-size: 28px;
    }

    .top-img-container .quote {
        bottom: 120px;
        font-size: 16px;
    }
}

@media(max-width: 930px) {
    .top-img-container .title {
        left: 80px;
    }

    .top-img-container .title h1 {
        font-size: 36px;
    }

    .top-img-container .title h2 {
        font-size: 26px;
    }

    .top-img-container .quote {
        font-size: 14px;
    }
}

@media(max-width: 750px) {
    .top-img-container .title {
        left: 50px;
    }

    .top-img-container .title h1 {
        font-size: 32px;
    }

    .top-img-container .title h2 {
        font-size: 22px;
    }

    .top-img-container .quote {
        bottom: 100px;
    }
}

@media(max-width: 630px) {
    .top-img-container .title h1 {
        font-size: 28px;
    }

    .top-img-container .title h2 {
        font-size: 20px;
    }
}

@media(max-width: 560px) {
    .top-img-container .title h1 {
        font-size: 24px;
    }

    .top-img-container .title h2 {
        font-size: 20px;
    }
}

@media(max-width: 490px) {
    .top-img-container .title {
        padding-right: 140px;
    }
}