<div class="top-img-container">

    <div class="carousel-wrapper">
        <app-carousel />

        <div class="title">
            <div>
                <h1>The world's greatest books on one click.</h1>
                <h2>Shop new, used, and hard-to-find books online.</h2>
            </div>
        </div>
    </div>

    <div class="middle">
        <h3>Think before you speak. READ before you think.</h3>
        <p>&emsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, minus eaque explicabo ut provident
            nesciunt
            nulla quos commodi numquam nostrum voluptatum voluptatibus omnis veniam magnam dolorem. Maiores eaque
            laboriosam quod?</p>
        <p>&emsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, quas? Quos iure commodi mollitia
            soluta
            sed odit fugit, sint eius sequi eos deleniti cumque voluptatem distinctio ad non explicabo, exercitationem
            accusamus ipsa alias perferendis nesciunt totam ipsum aperiam. Neque non, fugit odit placeat expedita
            facilis obcaecati accusantium rem impedit eveniet officiis dolorum soluta incidunt dicta a deleniti! Alias
            a, quam error corrupti culpa fuga neque et facilis ducimus corporis mollitia! Laborum impedit aspernatur at
            dolore illum. Modi accusamus iure quibusdam quas iste tempore facere nisi pariatur facilis debitis voluptas
            exercitationem nemo officiis eveniet quae, dolor laboriosam veritatis amet eaque aperiam, quis totam
            explicabo omnis? Debitis dignissimos molestiae vel autem fugit deserunt laudantium hic vero assumenda ipsum
            veritatis blanditiis, nam natus dolores eaque voluptatibus et dolore vitae in possimus. Aperiam ipsam
            consequatur excepturi itaque quidem ex vitae sit, corrupti atque aliquam cum doloremque architecto incidunt
            cumque similique rem quia! Ullam, quo ad! Sint nostrum consequuntur, reiciendis accusantium, cum nobis
            officia, necessitatibus nulla temporibus et quae in distinctio sequi id minima eos consectetur vel ab sed
            dignissimos eaque fugiat culpa asperiores inventore. Omnis eveniet consequatur at ipsum nemo est molestias
            asperiores repellat iure deleniti labore in esse laudantium pariatur aspernatur, praesentium fugiat.</p>
        <p>by George Coleman</p>
    </div>

    <div class="down-img">

        <img src="../../../assets/images/home-photo.avif" alt="library">

        <div class="quote-container">
            <div class="quote">
                <blockquote>A room without books is like a body without a soul.</blockquote>
                <span>- Cicero</span>
            </div>
        </div>
    </div>

    <p class="five-random-title">Staff picks</p>
    <div class="five-random">
        <div class="cards">
            <div *ngFor="let book of books" (mouseenter)="setHovered(book.objectId)" (mouseleave)="setHovered('')"
                class="card">
                <a [routerLink]="['/books/catalog/', book.objectId, 'details']">
                    <div class="image">
                        <img src="{{ book?.imageUrl }}" alt="{{ book?.bookName }} by {{ book?.author }}">
                        <div *ngIf="book.used" class="badge">
                            <span>Used</span>
                        </div>
                    </div>
                    <div class="info">
                        <span>{{ book?.bookName }}</span>
                        <span>by {{ book?.author }}</span>
                        <span>with {{ book?.cover }}</span>
                        <span><strong>{{book.price}} lv.</strong><i [ngClass]="{
'fas fa-hand-point-left': book.coverPrice,
'hovered' : hovered == book.objectId
                        }"></i><s *ngIf="book.coverPrice">{{book.coverPrice}}
                                lv.</s></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>