<div class="login-container">
    <div class="image">
        <img src="../../../assets/images/login-books.avif" alt="books">
    </div>
    <div class="form">
        <span>Login</span>
        <form #loginForm="ngForm" (ngSubmit)="submitHandler(loginForm)" class="users-form">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="john@gmail.com" ngModel required #emailInput="ngModel" [appValidateEmail]="">
            <label for="password">Password</label>
            <input type="text" name="password" placeholder="*******" ngModel required #passwordInput="ngModel">
            <div *ngIf="emailInput.touched" class="error-message">
                <div *ngIf="emailInput.errors?.['required']">Email is required!</div>
                <div *ngIf="emailInput.errors?.['appValidateEmail']">Invalid email or password!</div>
                <div *ngIf="passwordInput.errors?.['required']">Password is required!</div>
            </div>

            <input type="submit" value="Login">
        </form>
        <span>Don’t have a "Old Bookshelves" account yet? <a routerLink="/users/register">Sign up</a></span>
    </div>
    <div class="right-top-img">
        <img src="../../../assets/images/login-books-and-student.avif" alt="books">
    </div>
    <div class="left-down-img">
        <img src="../../../assets/images/login-books-with-flower.avif" alt="books">
    </div>
</div>