<div class="login-container">
    <div class="image">
        <img src="../../../assets/images/login-books.avif" alt="books">
    </div>
    <div class="form">
        <span>Login</span>
        <form action="" class="users-form">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="john@gmail.com">
            <label for="password">Password</label>
            <input type="text" name="password" placeholder="*******">

            <input type="submit" value="Login">
        </form>
        <span>Don’t have a "Old Bookshelves" account yet? <a routerLink="/register">Sign up</a></span>
    </div>
    <div class="right-top-img">
        <img src="../../../assets/images/login-books-and-student.avif" alt="books">
    </div>
    <div class="left-down-img">
        <img src="../../../assets/images/login-books-with-flower.avif" alt="books">
    </div>
</div>