<div class="top-img-container">
    <img src="../../../assets/images/home-photo.avif" alt="library">
    <div class="about">
        <h2>About site</h2>
        <p>&emsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos incidunt quibusdam nulla suscipit
            quis nihil debitis natus eos architecto ea error, sunt a sint odit, assumenda voluptas quaerat labore quae.
        </p>
        <br>
        <p>&emsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur facere quidem, eum eius ipsa
            excepturi, nobis qui dignissimos beatae tempore ut! Quae ea obcaecati minima doloribus, repudiandae deleniti
            laboriosam repellat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cumque laboriosam
            explicabo facere saepe deserunt debitis optio numquam in, enim quod magni, officiis earum sit non,
            consequatur fugit omnis. Quo?
        </p>
        <br>
        <hr>
        <br>
        <p>&emsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi iusto consequatur ducimus id
            architecto dicta, harum veritatis maxime dolor accusamus, voluptatibus accusantium deserunt doloribus amet
            qui necessitatibus in. Aliquam repudiandae quas vitae perspiciatis cupiditate earum velit. Libero minus ipsa
            molestias et quae unde aliquam. Necessitatibus quidem sit, labore nulla voluptatum numquam dolore inventore
            ipsam debitis saepe similique ratione rem repellendus veritatis a magni! Enim distinctio, aspernatur esse
            voluptatum sunt modi odit culpa accusantium in. Exercitationem praesentium sequi illum tempora! Et esse
            voluptatum reiciendis? Ratione, adipisci ab corrupti consequatur repellendus accusamus ipsa beatae quaerat
            earum laboriosam commodi voluptatibus odio esse error tempora quidem corporis non eius suscipit animi.
            Nesciunt perspiciatis earum velit odit voluptatum at doloribus, quos architecto nihil impedit? Adipisci
            magnam minima ab, beatae placeat consequatur repellat nobis sed ex, dolorum aliquid. Ducimus, corporis!
            Maiores rem veniam provident, nesciunt iste cum libero non repellat obcaecati, necessitatibus eos doloribus,
            assumenda illo laudantium! Et numquam, quis ipsa pariatur animi eaque distinctio quas culpa optio esse,
            vitae aut ad? Quaerat consequuntur quas omnis non quibusdam soluta maxime. Dolore delectus consequuntur,
            molestiae qui eveniet perferendis molestias nostrum assumenda expedita repudiandae illum unde quae totam
            labore. Tempora fuga a adipisci dolor magni neque eveniet, maiores, corporis ut, eos cumque illum quasi
            nesciunt dolorum dolores iure. Consequuntur nam molestiae laboriosam eos, praesentium, at velit error
            aliquid tempore porro illo. Placeat blanditiis dolor quod? Animi odit corporis possimus aut ipsam atque
            adipisci eligendi nam et, error unde fugit sit obcaecati! Hic voluptas facere iure, quae, voluptatem odit
            accusantium placeat porro nemo possimus ipsa quidem, harum minima totam dolorem eaque sequi labore nesciunt
            assumenda ducimus expedita. Dicta, veniam temporibus! Itaque aspernatur sint maxime quisquam. Repellat, sit
            ad similique aspernatur, a recusandae harum dolor nostrum, sequi nisi hic! Amet, corrupti? Quod adipisci
            quia veritatis quo a rerum aut distinctio!</p>
    </div>
</div>