<div class="top-img-container">
    <img src="../../../assets/images/home-photo.avif" alt="library">
    <div class="about">
        <h2>About site</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos incidunt quibusdam nulla suscipit quis
            nihil debitis natus eos architecto ea error, sunt a sint odit, assumenda voluptas quaerat labore quae.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur facere quidem, eum eius ipsa excepturi,
            nobis qui dignissimos beatae tempore ut! Quae ea obcaecati minima doloribus, repudiandae deleniti laboriosam
            repellat!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus cumque laboriosam explicabo facere saepe
            deserunt debitis optio numquam in, enim quod magni, officiis earum sit non, consequatur fugit omnis. Quo?
        </p>
    </div>
</div>