.about {
    position: absolute;
    top: 60px;
    left: 100px;
    width: 70%;
    height: 70%;
    background-color: rgba(154, 205, 50, 0.7);
    padding: 50px 70px;
    color: black;
    overflow: scroll;
    scrollbar-color: green yellow;
}

.about hr {
    color: green;
}

.about h2 {
    text-align: center;
}

.about p {
    font-size: 18px;
    font-style: italic;
}

@media(max-width: 850px) {
    .about {
        padding: 50px;
    }
}

@media(max-width: 550px) {
    .about {
        left: 30px;
        width: 80%;
        padding: 30px;
    }
}