<carousel>
    <slide>
        <img src="../../../assets/images/the-iliad-and-the-odyssey.avif" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>First slide</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </slide>
    <slide>
        <img src="../../../assets/images/slide-2.avif" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Second slide</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </slide>
    <slide>
        <img src="../../../assets/images/slide-3.avif" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Third slide</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
        </div>
    </slide>
    <slide>
        <img src="../../../assets/images/slide-4.avif" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Fourth slide</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt!.</p>
        </div>
    </slide>
    <slide>
        <img src="../../../assets/images/sands-clock.avif" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Fifth slide</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
        </div>
    </slide>
</carousel>