<header class="header">
    <div class="main-header">
        <h2 class="logo">
            <a routerLink="/" class="logo-link">
                <i><i class="fas fa-book-open"></i></i> The Old Bookshelves
            </a>
        </h2>

        <nav class="navigation">
            <ul class="nav-list" role="list">
                <li class="list-item"><a routerLink="/about">About</a></li>
                <li class="list-item"><a href="#catalog">Catalog</a></li>
                <li class="list-item"><a routerLink="/books/used-books">Used</a></li>
                <li class="list-item"><a href="#sell-book">Sell Books</a></li>
                <li class="list-item"><a href="#contacts">Contacts</a></li>
            </ul>
        </nav>

        <div *ngIf="!isLoggedIn" class="login">
            <a routerLink="/users/register" class="btn">Sign up</a>
            <a routerLink="/users/login" class="btn">Login</a>
        </div>

        <div *ngIf="isLoggedIn" class="user">
            <i class="far fa-user"></i>
            <span> {{username}}</span>
            <button (click)="logout()">Logout</button>
        </div>
    </div>
</header>