.header {
    border-bottom: 2px solid green;
    padding: 20px;
    background-color: lightgray;
}

.header .main-header {
    display: flex;
}

.header .main-header a {
    text-decoration: none;
}

.header .main-header .logo {
    display: inline-block;
    margin-left: 50px;
    margin-right: auto;
}

.header .main-header .logo a {
    color: green;
    font-style: italic;
}

.header .main-header .logo i {
    color: yellowgreen;
}

.header .main-header .navigation {
    display: inline-block;
    margin-right: auto;
}

.header .main-header .navigation .nav-list {
    display: flex;
}

.header .main-header .navigation .nav-list .list-item {
    margin-right: 16px;
}

.header .main-header .navigation .nav-list .list-item a {
    vertical-align: -moz-middle-with-baseline;
    color: black;
}

.header .main-header .navigation .nav-list .list-item a:hover,
.header .main-header .login a:hover {
    color: green;
    text-decoration: underline;
}

.header .main-header .login {
    display: inline-block;
}

.header .main-header .login a {
    vertical-align: -moz-middle-with-baseline;
    margin-right: 10px;
    color: black;
}

.header .main-header .user i {
    border: 1px solid green;
    border-radius: 100%;
    padding: 8px;
    margin-right: 5px;
    font-size: 18px;
}

.header .main-header .user span {
    font-size: 24px;
    margin-right: 20px;
}

.header .main-header .user button {
    border-radius: unset;
    color: green;
    margin-right: 20px;
    cursor: pointer;
    background-color: lightgray;
}

.header .main-header .user button:hover {
    background-color: yellowgreen;
}