.header {
    border-bottom: 3px solid green;
    padding: 20px;
    background: rgb(211, 211, 211);
    background: linear-gradient(0deg, rgba(211, 211, 211, 0.9654062308517157) 26%, rgba(184, 217, 114, 0.4724090319721639) 60%, rgba(185, 228, 97, 1) 100%);
}

.header .main-header {
    display: flex;
}

.header .main-header a {
    text-decoration: none;
}

.header .main-header .logo {
    display: inline-block;
    margin-left: 50px;
    margin-right: auto;
}

.header .main-header .logo a {
    color: green;
    font-style: italic;
}

.header .main-header .logo i {
    color: yellowgreen;
    text-shadow: 2px 1px 0px yellow;
}

.header .main-header .navigation {
    display: inline-block;
    margin-right: auto;
}

.header .main-header .navigation .nav-list {
    display: flex;
}

.header .main-header .navigation .nav-list .list-item {
    margin-right: 16px;
}

.header .main-header .navigation .nav-list .list-item a {
    vertical-align: -moz-middle-with-baseline;
    color: black;
    font-size: 18px;
}

.header .main-header .navigation .nav-list .list-item a:hover,
.header .main-header .login a:hover {
    color: green;
    text-decoration: underline;
}

.header .main-header .navigation .nav-bar {
    display: none;
}

.header .main-header .login {
    display: inline-block;
    font-size: 18px;
}

.header .main-header .login a {
    vertical-align: -moz-middle-with-baseline;
    margin-right: 10px;
    color: black;
}

.header .main-header .login a:first-of-type {
    padding-right: 10px;
}

.header .main-header .user a {
    color: black;
    margin-right: 20px;
}

.header .main-header .user a:hover {
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 20px 10px 20px 20px;
}

.header .main-header .user i {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-radius: 100%;
    padding: 8px;
    margin-right: 5px;
    font-size: 22px;
}

.header .main-header .user span {
    font-size: 24px;
    padding-right: 10px;
}

.header .main-header .user button {
    border-radius: unset;
    color: green;
    margin-right: 20px;
    cursor: pointer;
    background-color: lightgray;
}

.header .main-header .user button:hover {
    background-color: yellowgreen;
}

.hidden-nav .nav-list {
    display: flex;
    justify-content: space-around;
    background-color: #D5D5D5;
    padding: 10px 0px;
    border-bottom: 3px solid green;
}

.hidden-nav .nav-list a {
    color: black;
}

.hidden-nav .nav-list a:hover {
    color: green;
    text-decoration: none;
}

@media(max-width: 990px) {
    .header .main-header .logo {
        margin-left: unset;
    }

    .header .main-header .user button {
        margin-right: unset;
    }
}

@media(max-width: 920px) {
    .header .main-header .navigation .nav-list {
        display: none;
    }

    .header .main-header .navigation .nav-bar {
        display: inline-block;
        font-size: 28px;
    }

    .header .main-header .navigation .nav-bar:hover {
        cursor: pointer;
    }

    .header .main-header .navigation .nav-bar i {
        box-shadow: 4px 6px 6px gray;
    }

    .header .main-header .navigation .nav-bar i:hover {
        box-shadow: unset;
    }
}

@media(max-width: 580px) {
    .header .main-header {
        flex-direction: column;
        align-items: center;
    }

    .header .main-header .navigation .nav-bar {
        margin-left: 450px;
    }
}

@media(max-width: 530px) {
    .header .main-header .navigation .nav-bar {
        margin-left: 400px;
    }
}

@media(max-width: 480px) {
    .header .main-header .navigation .nav-bar {
        margin-left: 370px;
    }
}

@media(max-width: 440px) {
    .header .main-header .navigation .nav-bar {
        margin-left: 330px;
    }
}

@media(max-width: 400px) {
    .header .main-header .navigation .nav-bar {
        margin-left: 310px;
    }
}